body{
    text-align: center;
    font-size: 25px;
    background-image: url("https://colinbendell.cloudinary.com/image/upload/c_crop,f_auto,g_auto,h_350,w_400/v1512090971/Wizard-Clap-by-Markus-Magnusson.gif");
    background-size: 50%;
    padding: 15%;
}

h1{
    font-size: 80px;
    background-color: rgba(255, 255, 255, .25);
    padding-left: 20%;
    padding-right: 20%;
}

h2{
    font-size: 60px;
    background-color: rgba(255, 255, 255, .25);
}

p{  
    background-color: rgba(255, 255, 255, .25);
    font-size: 35px;
}

button{
    background-color: rgba(255, 255, 255, .25);
}

.winner{
    color: green;
}

#setscore{
    font-weight: bold;
}